{% extends 'layout.twig' %}

{% block body %}
<div class="container-fluid products-section">

{% if products.count > 0 %}
  <div class="row page-products">
    <div class="col-xs-12 section-horizontal">
      <div class="row header">
        <div class="col-xs-12 products__description">
          <div class="outer">
            <div class="inner">
              <h2 class="products-title">Productos</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row products__row">
  {% for product in products %}
    {% include '_product-card.twig' %}
  {% endfor %}
  </div> <!-- .products -->
{% else %}
  <div class="row page-products">
    <div class="col-xs-12 section-horizontal">
      <div class="row header">
        <div class="col-xs-12 products__description">
          <div class="outer">
            <div class="inner">
              <h2 class="products-title">¡Falta poco!</h2>
              <p class="products-text">Todavía no existen Productos, una vez que empieces a crearlos aparecerán aquí.</p>
              <p><a class="btn btn-primary" href="/admin/products">Gestionar Productos</a> <a class="btn btn-primary" href="/admin/collections">Gestionar Colecciones</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .page-products -->
{% endif %}
</div> <!-- .container-fluid -->
{% endblock %}
